<!-- Telegram Chat Button -->
<a href="https://t.me/grapeonwheels" target="_blank" class="telegram-float">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Telegram Chat" class="telegram-icon">
</a>

<style>
.telegram-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 84px;
    right: 20px;
    background-color: #0088cc;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    z-index: 1000;
}

.telegram-float img {
    width: 60px;
    height: 60px;
    margin: 0;
}

.telegram-float:hover {
    background-color: #006699;
}
</style>